:root {
  /* CSS HEX */
  --peach: #fcbe95ff;
  --pumpkin: #ff7f2aff;
  --black: #000000ff;
  --prussian-blue: #152e4fff;
  --oxford-blue: #00213aff;
}

body {
  background-color: var(--black);
  font-family: "Bahnschrift", sans-serif;
}

p {
  font-family: "Bahnschrift", sans-serif;
  color: var(--black);
  font-size: 2vw;
  margin: 0vw;
  white-space: nowrap;
}

#content-container {
  display: flex;
  flex-direction: column;
}

header {
  flex: 1;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--black);
  left: 0;
}

aside {
  flex: 0 0 auto; /* Prevents aside from growing or shrinking */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns the items to the left */
  position: fixed;
}

.fa-bars {
  cursor: pointer; /* Changes the cursor to a hand when hovering over the bars icon */
  color: var(--pumpkin);
}

#dropdown-parent {
  position: fixed;
  margin-right: 1%;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dropdown-menu {
  display: none; /* The dropdown is hidden by default */
  flex-direction: column;
  background-color: var(--pumpkin);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-menu a {
  text-decoration: none;
  color: var(--black);
  padding: 10px;
  margin: 5px 0;
}

.dropdown-menu a:hover {
  background-color: var(--peach);
}

h1 {
  color: var(--pumpkin);
  font-size: 5vw;
}

h4 {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo-link {
  position: fixed;
  right: 0;
  margin: 0.5%;
}

.logo {
  position: fixed;
  height: 10vw;
  width: 10vw;
  left: 0;
  z-index: 2000;
}

#Welcome {
  text-align: center;
  color: var(--pumpkin);
  margin: 12%;
  font-size: 4vw;
}
.Page_options {
  z-index: +1;
  text-align: center;
  appearance: none;
  background-color: var(--pumpkin);
  border-radius: 40em;
  border-style: none;
  box-shadow: #00000094;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 2%;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  padding: 1vw 1.5vw;
}
.Page_options:hover {
  background-color: rgb(56, 81, 114);
  transform: scale(1.125);
  color: rgba(202, 202, 202, 0.782);
}

.Page_options:visited {
  background-color: rgb(56, 81, 114);
  transform: scale(1.125);
  color: rgba(202, 202, 202, 0.782);
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--black);
  text-decoration: none;
}

a:visited {
  color: var(--black);
  text-decoration: none;
}

.page-links {
  margin: 2%;
}

#club-info-container {
  text-align: center;
  color: var(--pumpkin);
  margin: 15% 12% 2% 12%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.club-info {
  font-size: 1vw;
  color: var(--pumpkin);
  white-space: normal;
}

.club-info-boxes {
  background-color: var(--prussian-blue);
  padding: 1%;
  border-radius: 2vw;
  border: 0.5vw solid var(--oxford-blue);
  margin: 2%;
}

#club-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15vw;
}

.club-stats-div {
  background-color: var(--prussian-blue);
  padding: 1vw;
  border-radius: 2vw;
  border: 0.5vw solid var(--oxford-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.club-stats-stat {
  margin-top: 1.5vw;
  color: var(--pumpkin);
}

#background-image {
  width: 70%;
  position: fixed;
  z-index: -1;
  top: 10vw;
  margin: 0 15% 0 15%;
}

@media (max-width: 600px) {
  h1,
  #Welcome {
    font-size: 8vw;
  }

  p {
    font-size: 4vw;
  }

  .logo {
    height: 20vw;
    width: 20vw;
  }

  .Page_options {
    font-size: 3vw;
    padding: 2vw 3vw;
  }

  #club-info-container {
    flex-direction: column;
    margin: 10% 5%;
  }

  .club-info {
    font-size: 4vw;
  }

  .club-info-boxes {
    padding: 3%;
    border-radius: 5vw;
  }
}
