:root {
  /* CSS HEX */
  --peach: #fcbe95ff;
  --pumpkin: #ff7f2aff;
  --black: #000000ff;
  --prussian-blue: #152e4fff;
  --oxford-blue: #00213aff;
}

body {
  background-color: var(--black);
  font-family: "Bahnschrift", sans-serif;
}

p {
  font-family: "Bahnschrift", sans-serif;
  color: var(--black);
  font-size: 2vw;
  margin: 0vw;
  white-space: nowrap;
}

span {
  font-family: "Bahnschrift", sans-serif;
}

#content-container {
  display: flex;
  flex-direction: column;
}

header {
  flex: 1;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--black);
  left: 0;
}

aside {
  flex: 0 0 auto; /* Prevents aside from growing or shrinking */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns the items to the left */
  position: fixed;
}

.fa-bars {
  cursor: pointer; /* Changes the cursor to a hand when hovering over the bars icon */
  color: var(--pumpkin);
}

#dropdown-parent {
  position: fixed;
  margin-right: 1%;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dropdown-menu {
  display: none; /* The dropdown is hidden by default */
  flex-direction: column;
  background-color: var(--pumpkin);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px var(--black);
}

.dropdown-menu a {
  text-decoration: none;
  color: var(--black);
  padding: 10px;
  margin: 5px 0;
}

.dropdown-menu a:hover {
  background-color: var(--peach);
}

h1 {
  color: var(--pumpkin);
  font-size: 5vw;
}

h4 {
  color: var(--peach);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo-link {
  position: fixed;
  right: 0;
  margin: 0.5%;
}

.logo {
  position: fixed;
  height: 10vw;
  width: 10vw;
  left: 0;
  z-index: 2000;
}

#Welcome {
  text-align: center;
  color: var(--pumpkin);
  margin: 12%;
  font-size: 4vw;
}
.Page_options {
  z-index: +1;
  text-align: center;
  appearance: none;
  background-color: var(--pumpkin);
  border-radius: 40em;
  border-style: none;
  box-sizing: border-box;
  color: var(--black);
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 2%;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  padding: 1vw 1.5vw;
  animation: fadeIn 1s;
  transition: transform 0.3s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.Page_options:hover {
  background-color: var(--peach);
  transform: scale(1.125);
}

.Page_options:active {
  background-color: var(--pumpkin);
  transform: scale(1);
}

.Page_options:visited {
  background-color: var(--peach);
  transform: scale(1.125);
}

#page-links-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--black);
  text-decoration: none;
}

a:visited {
  color: var(--black);
  text-decoration: none;
}

.page-links {
  margin: 2%;
}

#club-info-container {
  text-align: center;
  color: var(--pumpkin);
  margin: 15% 12% 2% 12%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.club-info {
  font-size: 1vw;
  color: var(--pumpkin);
  white-space: normal;
}

.club-info-boxes {
  background-color: var(--prussian-blue);
  padding: 1%;
  border-radius: 2vw;
  border: 0.5vw solid var(--oxford-blue);
  margin: 2%;
}

#club-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15vw;
}

.club-stats-div {
  background-color: var(--prussian-blue);
  padding: 1vw;
  border-radius: 2vw;
  border: 0.5vw solid var(--oxford-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.club-stats-stat {
  margin-top: 1.5vw;
  color: var(--pumpkin);
}

#background-image {
  width: 70%;
  position: fixed;
  z-index: -1;
  top: 10vw;
  margin: 0 15% 0 15%;
}

.signup-form-container {
  background-color: var(--prussian-blue);
  border-radius: 2vw;
  border: 1.5vw solid var(--oxford-blue);
  padding: 1vw;
  max-width: 35vw;
  margin: 15% auto 0 auto;
  animation: slide-up 0.5s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-form-container h2 {
  text-align: center;
  color: var(--peach);
  font-size: 2vw;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form label {
  margin-bottom: 10px;
}

.signup-form input,
.signup-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.signup-form .submit-button {
  background-color: var(--pumpkin);
  color: var(--black);
  padding: 0.7vw;
  border-radius: 1vw;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-form .submit-button:hover {
  background-color: var(--peach);
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#form-items-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form-items {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2vw;
}

.submit-button {
  margin: auto 5vw;
}

.span-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5vw;
}

.span-input-container span {
  color: var(--pumpkin);
  font-size: 1vw;
}

input,
textarea {
  height: 1vw;
  width: 13vw;
}

.submit-button span {
  font-size: 1vw;
}

#club-location {
  padding: 2vw;
  background-color: var(--prussian-blue);
  border: 0.5vw solid var(--oxford-blue);
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 5%;
  border-radius: 2vw;
  width: fit-content;
}

iframe {
  border: 1vw solid var(--oxford-blue);
  border-radius: 2vw;
}

#club-location-description {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#club-location-description p {
  color: var(--pumpkin);
  font-size: 3vw;
}

#club-location-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.span-input-container-kontakt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5vw;
}

.span-input-container-kontakt span {
  color: var(--pumpkin);
  font-size: 1vw;
}

.span-input-container-kontakt textarea {
  height: 5vw;
  width: 13vw;
}

/*
  __  __              _   _                 ____                          _              
 |  \/  |            | | (_)               / __ \                        (_)             
 | \  / |   ___    __| |  _    __ _       | |  | |  _   _    ___   _ __   _    ___   ___ 
 | |\/| |  / _ \  / _` | | |  / _` |      | |  | | | | | |  / _ \ | '__| | |  / _ \ / __|
 | |  | | |  __/ | (_| | | | | (_| |      | |__| | | |_| | |  __/ | |    | | |  __/ \__ \
 |_|  |_|  \___|  \__,_| |_|  \__,_|       \___\_\  \__,_|  \___| |_|    |_|  \___| |___/     

*/

@media only screen and (max-width: 600px) {
  #background-image {
    width: 100%;
    top: 10vw;
    margin: 50vw 0;
  }

  header {
    height: 20vw;
  }

  h1 {
    font-size: 10vw;
  }

  #Welcome {
    margin: 40vw 25vw 15vw 25vw;
    font-size: 10vw;
  }

  .logo {
    height: 15vw;
    width: 15vw;
    margin: 1vw 3vw;
  }

  #dropdown-parent {
    margin: 3vw;
  }

  #page-links-container {
    flex-direction: column;
    gap: 7vw;
  }

  .Page_options {
    padding: 5vw;
  }

  .Page_options p {
    font-size: 10vw;
  }

  .dropdown-menu a {
    font-size: 7vw;
  }

  iframe {
    width: 60vw;
    height: 40vw;
  }

  #club-location-description p {
    font-size: 4vw;
  }

  #club-info-container {
    flex-direction: column;
    margin: 30vw auto 2vw auto;
  }

  .club-info {
    font-size: 3vw;
  }

  #club-stats {
    gap: 2vw;
  }

  .club-stats-div img {
    height: 25vw;
    width: 25vw;
  }

  .club-stats-div h4 {
    font-size: 3.5vw;
  }

  .club-stats-div p {
    font-size: 5vw;
  }

  .signup-form-container {
    margin: 40vw 2vw;
    max-width: none;
  }

  .form-items {
    width: 100%;
  }

  .signup-form-container h2 {
    font-size: 7vw;
  }

  .span-input-container span {
    font-size: 5vw;
  }

  .span-input-container input {
    width: 70%;
  }

  .span-input-container textarea {
    width: 70%;
  }

  .span-input-container-kontakt span {
    font-size: 5vw;
  }

  .span-input-container-kontakt textarea {
    width: 70%;
  }

  .signup-form .submit-button {
    padding: 2vw;
    border-radius: 7vw;
  }

  .submit-button span {
    font-size: 5vw;
  }
}
